@import url('https://fonts.googleapis.com/css2?family=Frijole&family=Satisfy&display=swap');
:root {
   --color-primary: #feca57;
}

body{
    font-family: 'Satisfy', cursive;
    background-image: url("wp2885694-background-minion.jpg");
    background-size: cover;
    
    
}



textarea{
    display: block;
    width: 80%;
    height: 20vh;
    margin: auto;
}

#btnTranslate{
    margin: 2rem auto;
    display: block;
    background-color: var(--color-primary);
    border-radius: 0.3rem;
    padding: 1rem;
    font-size: 1.5rem;
}

.header{
    
    text-align: center;
    padding: 2rem;
    font-family: 'Frijole', cursive;
    font-size: 3rem;
}

p{
    text-align: center;
    font-size: 2rem;
}

.footer{
    margin: auto;
    text-align: right;
    
    padding: 2rem;
    margin-top: 2rem;
    opacity: 0.8;
}